extends ../layout

block content
    h1 Add New Mechanic
    form(action="/products/add",method="post")
        .form-group
            label(for="name") Mechanic Name
            input#name(type="text", class="form-control", name="name")
        .form-group
            label(for="contact") Contacts
            input#contact(type="text", class="form-control", name="contact")
        .form-group
            label(for="city") City
            input#city(type="text", class="form-control", name="city")
        .form-group
            label(for="service") Services
            input#service(type="text", class="form-control", name="service")
        input(type="submit", class="btn btn-info")
        